@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
*{padding: 0; margin: 0; box-sizing: border-box; font-family: 'Fira Sans', sans-serif;}
    .mainDiv{
        width: 100%;
        height: 100vh;
        position: relative;
        background-color: blue;
    }
    .centerDiv{
        position: absolute;
        top : 50%;
        left : 50%;
        transform: translate(-50%,-50%);
        text-align: center;
     }
     h1{
        text-transform: capitalize;
        margin-bottom: 30px;
        color: white;
        text-shadow: 1px 2px 3px blue;
        font-size: 2.1rem;
    }
    h2{
        text-align: center;
    }
    textarea{
        background-color: black;
        box-shadow: 0 0 10px brown;
        border: 20px solid grey;
        color: white;
        font-size: 1.3rem;
    }
    .mainbtn{
        padding: 10px 20px;
        border-radius: 20px;
        border: 5px solid grey;
        background: white;
        font-size: 1rem;
    }